@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://cdn.zeebiz.com/sites/default/files/2019/06/07/90064-drdo-logo-website.jpg?im=FitAndFill=(1200,900)" alt="DRDO Logo" class="img-fluid" style="max-width: 600px; margin-top: 30px; margin-bottom: 30px;" />
</div>
